@charset "UTF-8";

//----------------------------------------------
.breadcrumb {
  margin-bottom: 0;

  > .active {
    color: #999;
  }

  > li {
    font-size: 12px;

    + li {
      &:before {
        padding: 0 0 0 10px;
        vertical-align: -1px;
        content: "〉";
        margin-right: 3px;
      }
    }
  }
}
