@charset "UTF-8";

//--------------------------------------------------------
@mixin btn-link($color1, $color2, $color3, $color4, $text-color) {
  background-image: linear-gradient(to left, $color1, $color2);
  color: $text-color;
  box-shadow: 0 0 10px rgba($color: #888, $alpha: .3);
  padding: 5px;
  min-width: 100px;
  border-radius: 20px;
  font-weight: bold;
  border: 0;
  text-shadow: 1px 1px 1px rgba($color: #fff, $alpha: .7);

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-image: linear-gradient(to right, $color3, $color4) !important;
    color: $text-color;
    border: 0;
    outline: 0 !important;
    outline-offset: inherit !important;
  }
}

.btn-default {
  @include btn-link(#f5cf2e, #f9be14, #f6a60b, #f0bb1b, #000);
}

.btn-primary {
  @include btn-link(#000, #000, #000, #000, #fff);
  font-weight: normal;
}

.btn-lg {
  font-size: 14px;
}
