@charset "UTF-8";

//----------------------------------------------
footer {
  padding: 21px 0;

  .footer-logo {
    @media (max-width: $screen-sm-max) {
      display: block;
      text-align: center;
    }

    > img {
      width: 177px;
    }
  }

  .navbar {
    margin-bottom: 0;

    .navbar-nav {
      margin-right: 2px;
      margin-top: 5px;

      @media (max-width: $screen-sm-max) {
        margin: 10px 0;
      }

      > li {
        font-size: 12px;
        color: #000;
        text-align: center;

        + li {
          @media (min-width: $screen-sm-min) {
            margin-left: 26px;
          }

          @media (max-width: $screen-sm-max) {
            margin-top: 10px;
          }
        }

        > a {
          color: #000;
          display: inline;
          padding: 0;
        }
      }
    }
  }

  .footer-bottom {
    .copy-right {
      color: #242413;
      font-size: 12px;

      @media (max-width: $screen-sm-max) {
        text-align: center;
      }
    }

    .footer-bottom-logo {
      margin-bottom: 0;
      text-align: right;

      @media (min-width: $screen-sm-min) {
        transform: translateY(-4px);
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;
      }

      >img {
        width: 96px;
      }
    }
  }
}

//----------------------------------------------
// Use with grBackToTop.js
// See example: https://gitlab.com/yugo.asia/scsk.jp-sp-panzura
.page-top {
  position: fixed;// Required for grBackToTop.js
  right: calc((100% - 1090px) / 2 - 4.6%);
  bottom: 60px;// Required for grBackToTop.js
  transition: all .15s ease;
  background-color: #fabf00;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba($color: #888888, $alpha: .3);
  display: none;
  margin-bottom: 0;
  z-index: 999;

  @media (max-width: $screen-md-max) {
    right: 0;
  }

  @media (max-width: $screen-xs-max) {
    right: 0;
  }

  &:hover {
    background-color: #f7a700;
  }

  a {
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 50px;
      height: 50px;
    }

    img {
      max-width: 100%;
    }
  }

  &.anchor {
    position: absolute;
    bottom: auto;
    top: -36px;

    @media (max-width: $screen-xs-max) {
      top: -25px;
    }
  }
}
