@charset "UTF-8";

//----------------------------------------------
.container {
  @media (min-width: $screen-lg-min) {
    width: 1030px;
  }
}

.max-width-1380 {
  @media (min-width: 1397px) {
    width: 1380px;
  }
}
