@charset "UTF-8";

//----------------------------------------------
.label {
  display: inline-block;
  padding: 6px 5px;
  font-size: 16px;
  border-radius: 0;
  color: #000;
  font-weight: normal;
  margin-left: 29px;
  background-color: $primary-yellow;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $screen-sm-min) {
    width: 90px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 13px;
    margin-left: 15px;
  }
}
