@charset "UTF-8";

.list-group-logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12.5px;
  margin-right: -12.5px;
  margin-bottom: 35px;

  @media (max-width: $screen-sm-max) {
    display: block;
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    margin: 0;
  }

  .list-group-item {
    width: 180px;
    height: 99px;
    border: 1px solid #e5e9ef;
    border-radius: 0;
    margin: 10px 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 16px;

    @media (max-width: $screen-md-max) {
      width: calc(20% - 25px);
      min-width: 150px;
    }

    @media (max-width: $screen-sm-max) {
      display: inline-flex;
      vertical-align: top;
    }

    @media (max-width: $screen-xs-max) {
      margin: 5px;
      width: calc(50% - 12px);
      min-width: auto;
    }
  }
}
