@charset "UTF-8";

.media-case {
  margin-bottom: 30px;

  .media-case-left {
    @media (min-width: $screen-xs-min) {
      display: table-cell;
      vertical-align: top;
      padding-top: 8px;
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .media-case-right {
    @media (min-width: $screen-xs-min) {
      display: table-cell;
      vertical-align: top;
      padding-left: 29px;
    }
  }
}

.media-list-feature {
  margin-top: 85px;

  @media (min-width: $screen-lg-min) {
    margin: 85px -46px 0;
  }

  @media (max-width: $screen-xs-max) {
    margin: 30px auto 0;
  }

  .media {
    text-align: center;
    margin: 0;
    overflow: visible;

    @media (max-width: $screen-sm-max) and (min-width: $screen-xs-min) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }

    .media-header {
      position: relative;
      width: 180px;
      height: 180px;
      line-height: 180px;
      margin: 0 auto 16px;
      background-color: #fff;
      border-radius: 50%;
      border: 4px solid #f9be14;
      box-shadow: 0 0 5px 2px rgba($color: #aaa, $alpha: .5);

      @media (max-width: $screen-sm-max) {
        width: 130px;
        height: 130px;
        line-height: 130px;
      }
    }

    .media-object {
      display: inline-block;
    }

    .media-number {
      font-size: 24px;
      color: #fff;
      background-color: #f9be14;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      line-height: 46px;
      display: block;
      position: absolute;
      top: -22px;
      left: 20px;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }

    .media-text {
      line-height: 1.57;
      color: #111;
      font-size: 16px;

      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-min) {
        font-size: 12px;
      }

      @media (max-width: $screen-xs-max) {
        line-height: 1.5;
      }
    }
  }
}

.media-list-reason {
  @media (min-width: $screen-lg-min) {
    margin: 85px -40px 0;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 50px;
  }

  .media {
    margin: 0;
    overflow: visible;

    @media (min-width: $screen-sm-min) {
      padding: 0 40px;
    }

    @media (max-width: $screen-xs-max) {
      & + .media {
        margin-top: 50px;
      }
    }

    .media-header {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 5px solid #f9be14;
      }

      .media-object {
        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
      }
    }

    .media-title {
      position: absolute;
      left: 50%;
      top: -21px;
      transform: translateX(-50%);
      color: #242413;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 1px;
      font-weight: bold;
      border: 2px solid #f9be14;
      margin: 0;
      width: 200px;
      text-align: center;
      background-color: #fff;
      padding: 4px 0 5px;
      border-radius: 20px;
      z-index: 1;
      box-shadow: 0 0 5px 1px rgba($color: #aaa, $alpha: .5);
    }

    .media-body {
      padding-top: 22px;
    }

    .media-heading {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.8;
      margin-bottom: 26px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    .media-text {
      color: #111;
      font-size: 16px;
      line-height: 1.75;

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }
  }
}

.media-list-flow {
  position: relative;
  z-index: 1;

  @media (min-width: $screen-lg-min) {
    margin: 54px -27.1px 0;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }

  .media {
    margin-top: 0;
    overflow: visible;

    @media (min-width: $screen-sm-min) {
      padding: 0 27.1px;
      display: flex;
      flex-direction: column;
    }

    @media (max-width: $screen-xs-max) {
      & + .media {
        margin-top: 15px;
      }
    }

    .media-title {
      color: #242413;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;
      background-color: #f9be14;
      margin: 0;
      border-radius: 4px 4px 0 0;
      padding: 12px;
      box-shadow: 1px 1px 1px 0 rgba($color: #e0e0e0, $alpha: .75);
    }

    .media-body {
      padding: 23px 20px 22px;
      background-color: rgba($color: #fff, $alpha: .9);
      box-shadow: 1px 1px 1px 0 rgba($color: #e0e0e0, $alpha: .75);
      border-bottom: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-radius: 0 0 4px 4px;

      @media (min-width: $screen-sm-min) {
        width: auto;
        flex: 1;
      }
    }

    .media-heading {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 21px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: $screen-md-min) {
        min-height: 54px;
      }

      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        min-height: 81px;
      }
    }

    .media-object {
      margin: 0 auto 46px;
    }

    .media-text {
      font-size: 16px;
      line-height: 1.75;
      margin-bottom: 0;

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }
  }
}
