@charset "UTF-8";

//----------------------------------------------
.menu-trigger {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 1000;
  width: 40px;
  height: 32px;
  transition: all .3s;

  @media (max-width: $grid-float-breakpoint-max) {
    display: inline-block;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
    border: 0;
    outline: 0;
  }

  .icon-bar {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #888;
    border-radius: 4px;
    transition: all .3s;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 14px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }

    & + .icon-bar {
      margin-top: 0;
    }
  }

  &.active {
    .icon-bar {
      &:nth-of-type(1) {
        transform: translateY(14px) rotate(-45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-14px) rotate(45deg);
      }
    }
  }
}

//----------------------------------------------
.navbar-top {
  margin-bottom: 0;
  border: 0;

  .navbar-brand {
    height: auto;
    padding: 25px 19px;

    @media (max-width: $screen-sm-max) {
      padding: 14px 19px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 10px 15px;
    }

    > img {
      width: 194px;

      @media (max-width: $screen-xs-max) {
        width: 110px;
      }
    }

    .navbar-slogan {
      display: inline-block;
      color: #000;
      font-size: 14px;
      margin-left: 23px;
      vertical-align: -5px;
      letter-spacing: -.5px;

      @media (max-width: $screen-sm-max) {
        display: block;
        margin-left: 0;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .navbar-nav {
    @media (min-width: $screen-xs-min) {
      margin-right: 4px;
      padding: 25px 0 22px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }

    > li {
      + li {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
      }

      &.nav-link {
        @media (min-width: $screen-xs-min) {
          margin-top: 3px;
        }
      }

      &.nav-btn {
        @media (min-width: $screen-xs-min) {
          margin-left: 20px;

          &.btn-lg-top {
            margin-left: 13px;

            a.btn-lg {
              padding: 10px 23px;
            }
          }
        }

        @media (max-width: $screen-md-max) {
          margin-left: 10px;
        }

        > a {
          box-shadow: 0 0 5px 2.5px rgba($color: #888, $alpha: .3);
        }
      }

      > a {
        @media (min-width: $screen-xs-min) {
          line-height: 20px;
          padding: 10px 15px;
        }

        @media (max-width: $screen-md-max) {
          padding: 10px;
        }

        @media (max-width: $screen-xs-max) {
          text-align: center;
          font-size: 14px;

          &.btn {
            width: 100px;
            margin: 0 auto;
            border-radius: 22px;
          }

          &.btn-lg {
            width: 200px;
          }
        }
      }
    }
  }

  .menu-trigger {
    @media (max-width: $screen-xs-max) {
      top: 12px;
    }

    .icon-bar {
      @media (max-width: $screen-xs-max) {
        background-color: #f8be14;
      }
    }
  }
}

.navbar-nav {
  > li {
    > a {
      &:not(.btn) {
        &:hover,
        &:focus {
          @media (min-width: $screen-xs-min) {
            background-color: #fff;
            color: #f6cc29;
          }
        }
      }
    }
  }
}
