@charset "UTF-8";

//----------------------------------------------
.section-breadcrumb {
  padding: 10px 0;

  @media (min-width: $screen-xs-min) {
    .container {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
}

//----------------------------------------------
.section-news {
  padding: 60px 0 102px;

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }
}

.news-list {
  dl {
    padding: 24px 0;

    &:nth-child(odd) {
      background-color: #f4f4f4;
    }
  }

  dt,
  dd {
    line-height: 1.5;
    font-size: 16px;
    word-break: break-all;

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  dt {
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    white-space: nowrap;
    font-weight: bold;

    @media (min-width: $screen-sm-min) {
      width: 30.6%;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  dd {
    width: auto;

    @media (min-width: $screen-sm-min) {
      padding-right: 30px;

      a:hover {
        text-decoration: none;
        opacity: .8;
      }
    }
  }
}

.news-list-date {
  display: inline-block;
  vertical-align: top;

  @media (min-width: $screen-xs-min) {
    width: 126px;
  }
}

//----------------------------------------------
.section-contact {
  padding: 35px 0 74px;
  background: url("../img/common/bg-section-contact.jpg") no-repeat center center/cover;
  position: relative;

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(#f5cf2e, #f9be14);
  }

  &.section-contact-top {
    background-image: url("../img/top/contact/bg.jpg");

    @media (min-width: $screen-sm-min) {
      padding: 35px 0 83px;
    }

    .contact-btn {
      @media (min-width: $screen-sm-min) {
        margin-top: 41px;
      }
    }
  }
}

.contact-title {
  color: #fff;
  font-size: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 37px;
  font-weight: bold;

  @media (max-width: $screen-xs-max) {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.contact-btn {
  @media (min-width: $screen-sm-min) {
    max-width: 723px;
    margin: 0 auto;
  }

  .btn {
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 12px 15px;
    border-radius: 30px;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      margin-bottom: 15px;
      width: 75%;
      padding: 10px;
    }
  }
}

.contact-text {
  color: #f9be14;
  line-height: 1.8;
}

//----------------------------------------------
.section-jumbo {
  background: url('../img/top/main/main.jpg') no-repeat center center/cover;
  color: #fff;
  padding: 104px 0;
  position: relative;

  @media (min-width: $screen-sm-min) {
    height: 600px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 0 50px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/common/bg-dot.png');
  }

  .container {
    @media (min-width: $screen-lg-min) {
      width: 1092px;
    }
  }
}

.jumbo-left {
  position: relative;
  z-index: 1;
}

.jumbo-right {
  position: relative;
  z-index: 1;
  padding-top: 47px;

  @media (min-width: $screen-sm-min) {
    margin-right: 25px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 15px;
  }
}

.jumbo-slogan {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;

  @media (min-width: $screen-sm-min) {
    margin-left: 9px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }
}

.jumbo-logo {
  > img {
    width: 329px;

    @media (max-width: $screen-xs-max) {
      width: 200px;
    }
  }
}

.jumbo-title-yellow {
  font-size: 16px;
  color: #f5ce25;
  font-weight: bold;
  letter-spacing: 1px;
  background: url('../img/top/main/main-title-bg-1.png') no-repeat left 29% center, url('../img/top/main/main-title-bg-2.png') no-repeat right 31% center;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    background: url('../img/top/main/main-title-bg-1.png') no-repeat left 19% center, url('../img/top/main/main-title-bg-2.png') no-repeat right 21% center;
  }
}

.jumbo-title {
  line-height: 1.5;
  font-weight: bold;
  font-size: 34px;
  margin-top: 27px;
  margin-bottom: 28px;
  letter-spacing: 3.3px;

  @media (max-width: $screen-xs-max) {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.jumbo-lead {
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 1.5px;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

//----------------------------------------------
.section-about {
  position: relative;
  margin-top: -67px;
  padding-bottom: 76px;
  color: #000;

  @media (max-width: $screen-xs-max) {
    margin-top: -50px;
    padding-bottom: 30px;
  }
}

.about-title {
  font-size: 20px;
  font-weight: bold;
  background: #fff;
  border-top: 5px solid #fabf00;
  line-height: 1.8;
  padding-top: 58px;

  @media (max-width: $screen-xs-max) {
    font-size: 18px;
    padding-top: 30px;
  }
}

.about-photo {
  margin-top: 19px;

  @media (max-width: $screen-xs-max) {
    padding: 0 15px;
  }

  > img {
    display: inline-block;

    @media (min-width: $screen-sm-min) {
      transform: translateX(-31px);
    }
  }
}

.about-text {
  font-size: 16px;
  line-height: 2.5;
  margin-top: 27px;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    line-height: 1.75;
    margin-top: 20px;
  }
}

//----------------------------------------------
.section-case-study {
  color: #000;
  padding-bottom: 54px;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 15px;
  }
}

.case-wrapper {
  position: relative;
}

.case-story {
  font-weight: bold;
  font-size: 26px;

  @media (max-width: $screen-xs-max) {
    font-size: 20px;
  }
}

.case-logo {
  margin-top: 47px;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.case-photo {
  text-align: center;
}

.case-role {
  font-weight: bold;
  letter-spacing: 1.7px;
  margin-bottom: 0;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.case-name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.case-title {
  font-size: 28px;
  line-height: 1.7;
  margin-top: 45px;
  margin-bottom: 45px;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
  }
}

.case-text {
  font-size: 16px;
  line-height: 1.75;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

.case-row {
  margin-top: 122px;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }

  .case {
    box-shadow: 0 0 30px 5px rgba($color: #333, $alpha: .2);
    border-radius: 4px;
    padding: 45px 24px 21px;
    position: relative;

    @media (min-width: $screen-md-min) {
      width: 460px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 30px 15px;
      margin-bottom: 30px;
    }
  }

  .case-logo {
    margin-top: 0;
    margin-bottom: 40px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .case-photo {
    @media (min-width: $screen-xs-min) {
      position: absolute;
      top: 14px;
      right: 19px;
    }
  }

  .case-role,
  .case-name {
    font-weight: normal;
  }

  .case-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 58px;
    margin-bottom: 23px;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}

.case-1 {
  @include isBorder('both');
  background: url("../img/top/case-study/bg-1.png") no-repeat top 2.5% left calc((100% - 1200px) / 2 + 9.4%), url("../img/top/case-study/bg-2.png") no-repeat bottom 31.2% right calc((100% - 1200px) / 2 + 5.9%);
  padding: 35px 0 399px;

  @media (max-width: $screen-xs-max) {
    padding-top: 3px;
    background: url("../img/top/case-study/bg-1.png") no-repeat top 1% left / 60px, url("../img/top/case-study/bg-2.png") no-repeat bottom 20.5% right / 60px;
  }

  .case-info {
    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: -91px;
      right: 21px;
      text-align: right;
    }
  }

  .case-logo {
    > img {
      width: 300px;
    }
  }

  .case-role {
    @media (min-width: $screen-xs-min) {
      margin-top: -33px;
    }
  }

  .case-text {
    line-height: 2.37;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }
}

.case-2 {
  margin-top: -334px;

  .case-wrapper {
    background-color: #fff;
    padding-bottom: 14px;
    border: 3px solid #f9be14;
    box-shadow: 0 0 30px rgba($color: #333, $alpha: .2);
    border-radius: 6px;

    @media (min-width: $screen-md-min) {
      width: 766px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .case-story {
    font-size: 15px;
    margin-top: 37px;
    letter-spacing: 2px;
    line-height: 1.75;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
      letter-spacing: 1.5px;
      margin-top: 15px;
    }
  }

  .case-logo {
    position: absolute;
    top: -81px;
    left: 26.3%;

    @media (max-width: $screen-xs-max) {
      top: -75px;
      left: 6%;
    }

    > img {
      width: 90px;

      @media (max-width: $screen-xs-max) {
        width: 80px;
      }
    }
  }

  .case-slogan {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    margin-top: 21px;
    margin-bottom: 31px;
    background: url("../img/top/case-study/slogan-bg-1.png") no-repeat top 10% left 18.1%, url("../img/top/case-study/slogan-bg-2.png") no-repeat bottom 10% right 20.5%;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .case-info {
    @media (min-width: $screen-xs-min) {
      padding-left: 54px;
      padding-right: 34px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.case-4 {
  @media (min-width: $screen-xs-min) {
    margin-left: auto;
  }

  .case-logo {
    @media (min-width: $screen-xs-min) {
      transform: translate(4px, 10px);
      margin-bottom: 64px;
    }
  }
}

//----------------------------------------------
.section-feature {
  @include isBorder();
  padding: 29px 0 53px;

  @media (max-width: $screen-xs-max) {
    padding: 7px 0 0;
  }
}

.feature-title {
  @include sectionTitle();
  margin-bottom: 11px;
}

.feature-lead {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 53px;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

//----------------------------------------------
.section-reason {
  @include isBorder();
  padding: 30px 0 41px;

  @media (max-width: $screen-xs-max) {
    padding: 7px 0 30px;
  }
}

.reason-title {
  @include sectionTitle();
}

//----------------------------------------------
.section-flow {
  @include isBorder();
  padding: 30px 0 45px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    padding: 7px 0 30px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 843px;
    background-image: linear-gradient(135deg, #f9be14 40%, #facb43 40%, #facb43 50%, #f9be14 50%, #f9be14 90%, #facb43 90%, #facb43 100%);
    background-size: 7.07px 7.07px;

    @media (max-width: $screen-xs-max) {
      height: 400px;
    }
  }
}

.flow-title {
  @include sectionTitle();
}

.flow-text {
  line-height: 1.8;
}

.flow-main {
  margin-top: 34px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }

  > img {
    @media (min-width: $screen-md-min) {
      width: 903px;
      margin: 0 auto;
      transform: translateX(31px);
    }
  }
}

//----------------------------------------------
.section-achievement {
  padding: 30px 0 69px;

  @media (max-width: $screen-xs-max) {
    padding: 7px 0 30px;
  }
}

.achievement-title {
  @include sectionTitle();
  margin-bottom: 47px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 25px;
  }
}

.achievement-red-title {
  color: #f24637;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.58;
  margin-bottom: 49px;

  @media (max-width: $screen-xs-max) {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.achievement-list {
  @media (min-width: $screen-sm-min) {
    width: 680px;
    margin: 0 auto;
  }

  dl {
    border: 1px solid #e0e0e0;
    padding: 1px;
    box-shadow: 1px 1px 1px 0 rgba($color: #e0e0e0, $alpha: .75);

    & + dl {
      margin-top: 20px;
    }
  }

  dt .label,
  dd {
    color: #111;
    font-size: 14px;
    line-height: 1.8;
  }

  dt {
    vertical-align: middle;
    line-height: 1.8;
    padding-right: 0;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }

    .label {
      margin: 0;
      width: 100px;
      display: block;
      padding: 6px 5px 9px;
      background-color: #fed418;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }

  dd {
    width: auto;
    vertical-align: middle;
    padding: 0 22px;

    @media (max-width: $screen-xs-max) {
      padding: 10px 15px;
      text-align: center;
    }
  }

  .dl-list-indent.cleared-xs dd {
    @media (max-width: $screen-xs-max) {
      padding-top: 10px;
    }
  }
}

.Android .achievement-list dt .label,
.iOS .achievement-list dt .label {
  padding: 9px 5px 6px;
}
