@charset "UTF-8";

// Page header
// -------------------------

.page-header {
  display: table;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 35px;
  margin: 0;
  text-align: center;
  border-bottom: 0;
  background-color: #676666;
  position: relative;

  @media (min-width: $screen-xs-min) {
    height: 200px; // Can not use min-height. Because of it is not working on Firefox.
  }

  @media (max-width: $screen-xs-max) {
    padding: 25px 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/common/bg-dot.png');
  }

  .page-header-title {
    display: table-cell;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
    position: relative;
  }

  small {
    display: block;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2.2px;
    margin-bottom: 16px;
  }
}

//----------------------------------------------
ul,
ol {
  padding-left: 1.5em;
  line-height: 1.428;
}

//----------------------------------------------
.dl-list-indent {
  margin-bottom: 0;

  &,
  dd {
    overflow: hidden;
    zoom: 1;
  }

  dt,
  dd {
    display: table-cell;
    line-height: 1.4;
    vertical-align: top;
  }

  dt {
    padding-right: 5px;
    font-weight: normal;

    img {
      display: block;
    }
  }

  dd {
    width: 10000px;
  }

  &.cleared-xs {
    @media (max-width: $screen-xs-max) {
      dt {
        display: block;
      }

      dd {
        padding-top: 0;
      }
    }
  }
}
