@charset "UTF-8";

@mixin isBorder($position: 'top') {
  @if $position == 'both' {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  @else {
    border-top: 1px solid #ccc;
  }
}

@mixin sectionTitle() {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 49px;

  @media (max-width: $screen-xs-max) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.bg-seminar {
  background: url("../img/seminar/bg-seminar.jpg") no-repeat 50% 50%/cover;
}

.bg-grey {
  background-color: #f4f4f4 !important;
}
